/* main part */
	/* whole block */
	.submit{
		padding: 3% 7% 7% 7%;
	}

	/* text block */
		/* whole block */
		.submit>div:nth-child(1){
			width: 60%;
		}
		
		/* title */
		.submit>div:nth-child(1)>p:nth-child(1){
			font-family: Raleway-Bold;
			font-size: 72px;
			color: #3C3B3A;
			margin: 0;
			width: 80%;
		}

		/* paragraph */
		.submit>div:nth-child(1)>p:nth-child(2){
			font-family: Raleway-Regular;
			font-size: 24px;
			color: #3C3B3A;
		}

	/* form block */
		/* whole block */
		.submit>div:nth-child(2){
			width: 32.5%;
			background-color: #26A682;
			border-radius: 20px;
			padding: 0 2%;
			box-shadow: 7px 6px 12px rgba(0,0,0,0.2);
		}

		/* style of all text in form */
		.submit>div:nth-child(2)>p{
			font-family: Raleway-Regular;
			font-size: 24px;
			color: #f2f2f2;
			margin: 19px 0;
		}

		/* title */
		.submit>div:nth-child(2)>p:nth-child(1){
			font-family: Raleway-Bold;
			font-size: 72px;
			margin: 20px 0 0 0;
		}

		/* style of all input box */
		.submit>div:nth-child(2)>input,.submit>div:nth-child(2)>textarea{
			outline:none;
			width: 92%;
			padding: 3% 4%;
			font-family: Raleway-Regular;
			font-size: 16px;
			border: 0;
			border-radius: 30px;
		}

		/* extra style for mmessage input box */
		.submit>div:nth-child(2)>textarea{
			border-radius: 20px;
			height: 150px;
		}

		/* button */
			/* position */
			.submit>div:nth-child(2)>div{
				text-align: right;
				margin-top: 23px;
			}

			/* normal */
			.submit>div:nth-child(2) button{
				font-family: Raleway-Bold;
				font-size: 40px;
				background-color: #3C3B3A;
				color: #F2F2F2;
				border: 0;
				border-radius: 40px;
				padding: 1% 8%;
				outline: none;
			}
			
			/* clicked */
			.submit>div:nth-child(2) button:active{
				box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
			}

/* location part */
	/* whole block */
	.location{
		padding: 2% 7% 7% 7%;
	}

	/* text block */
		/* whole block */
		.location>div:nth-child(1){
			width: 50%;
		}

		/* font style of all text */
		.location>div:nth-child(1)>p{
			font-family: Raleway-Regular;
			font-size: 18px;
			color: #3C3B3A;
			
		}

		/* title */
		.location>div:nth-child(1)>p:nth-child(1){
			font-family: Raleway-Bold;
			font-size: 72px;
			margin: 0 0 10px 0;
		}

		/* paragraph */
		.location>div:nth-child(1)>p:nth-child(2){
			font-size: 40px;
			margin: 10px 0 30px 0;
		}

	/* map */
	.location>div:nth-child(2){
		width: 50%;
	}

/* the following effect is used to replace the original formatting when the viewing area of the window reaches the maximum of 800px */
@media screen and (max-width: 800px) {
	.submit{
		display: block;
		padding: 7%;
	}
	.submit img{
		width: 80%;
	}
	.submit>div:nth-child(1){
		width: 100%;
		padding-bottom: 5%;
	}
	.submit>div:nth-child(2){
		width: 90%;
		padding: 5%;
	}
	.location{
		display: block;
		padding: 0;
	}
	.location>div:nth-child(1){
		width: 86%;
		padding:2% 7% 7% 7%;
	}
	.location>div:nth-child(2){
		width: 100%;
	}
}

/* the following effect is used to replace the original formatting when the viewing area of the window reaches the maximum of 500px */
@media screen and (max-width:500px) {
	.submit>div:nth-child(1){
		padding-bottom: 5%;
	}
	.submit>div:nth-child(1)>p:nth-child(1){
		font-size: 50px;
		width: 100%;
	}
	.submit>div:nth-child(1)>p:nth-child(2){
		font-size: 20px;
	}
	.submit>div:nth-child(2)>p:nth-child(1){
		font-size: 40px;
	}
	.submit>div:nth-child(2)>p{
		font-size: 18px;
	}
	.submit>div:nth-child(2)>textarea{
		height: 110px;
	}
	.submit>div:nth-child(2) button{
		width: 100%;
	}
	.submit>div:nth-child(2) button{
		font-size: 32px;
		padding: 4% ;
	}
	.location>div:nth-child(1)>p{
		font-size: 16px;
	}
	.location>div:nth-child(1)>p:nth-child(1){
		font-size: 40px;
	}
	.location>div:nth-child(1)>p:nth-child(2){
		font-size: 24px;
	}
}