/* Basic font and box */
html {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}

/* Inheritance Properties */
*， *:before,
*:after {
	box-sizing: inherit;
}

/* Define the font's file position */
@font-face {
	font-family: 'Montserrat-Bold';
	src: url(fonts/Montserrat-Bold.ttf) format('ttf');
}

/* Body's settings */
body,
p,
h1,
h2,
h3,
h4,
img {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	width: 100%;
	background: #f7f7ff;
}

/* “White part"--above the footer's settings */
.main {
	width: 86%;
	margin: 0 auto;
	overflow: hidden;
}

/* Logo's settings */
.logo {
	width: 100%;
	overflow: hidden;
}

.logo img {
	height: 80px;
}

/* Whole header's settings */
.header {
	width: 100%;
	overflow: hidden;
	background: url(images/bg-image/scooter.svg) center center no-repeat;
	padding-top: 100px;
	background-size: 50%;
	padding-bottom: 100px;
	position: relative;
}

/* Setting for <p> in both header_l and header_r */
.header p {
	font-size: 24px;
	color: #333131;
	line-height: 34px;
	padding-top: 18px;
}

/* Setting for header_l */
.header_l {
	width: 32%;
	float: left;
}

/* Setting for the title in header_l */
.header h1 {
	color: #333131;
	font-size: 84px;
	line-height: 100px;
	font-family: "Montserrat-Bold";
}

/* Setting for the whole form block */
.header_r {
	width: 450px;
	float: right;
	padding: 42px;
	background: #fff;
	border-radius: 30px;
	box-shadow: 2px 5px 14px #999;
	margin-right: 20px;
}

/* Setting for form */
.header_r form {
	width: 100%;
	overflow: hidden;
}

/* Setting for the title in the form */
.header_r h2 {
	font-size: 34px;
	color: #333131;
}

/* Setting for the slogan under the title in the form */
.header_r p {
	font-size: 24px;
	color: #333131;
	line-height: 34px;
	padding-top: 10px;
}

/* Setting for the text in the input bar in the form*/
.header_r .text {
	background: #f4f4f5;
	width: 96%;
	height: 55px;
	border-radius: 10px;
	border: none;
	padding-left: 4%;
	font-size: 16px;
	margin-top: 16px;
	outline: none;
}

/* Make sure the examples are different color with the users text*/
input::-webkit-input-placeholder {
	color: #c1c1c2;
}

/* Setting for the check box*/
.cb {
	width: 100%;
	overflow: hidden;
	padding-top: 15px;
	line-height: 25px;
	font-size: 16px;
	font-weight: normal;
}

/* Set the check mark is invisible in normal*/
input[type=checkbox] {
	visibility: hidden;
}

/* Setting for the check box */
#checkmark+label {
	display: block;
	width: 25px;
	height: 25px;
	cursor: pointer;
	border: 1px solid #333131;
	border-radius: 6px;
	float: left;
	margin-right: 10px;
}

#checkmark:checked+label::before {
	display: block;
	content: "\2714";
	text-align: center;
	font-size: 22px;
	color: #333131;
	line-height: 25px;
}

/* Setting for the button in form */
.header_r button {
	width: 100%;
	height: 55px;
	border-radius: 10px;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	outline: none;
	margin-top: 15px;
	background: #57eeab;
	border: none;
	color: #333131;
	font-size: 30px;
}

/* Setting for the text under the button in the form */
.header_r h4 {
	font-weight: normal;
	margin-top: 15px;
	text-align: center;
	color: #333131;
	line-height: 24px;
}

.header_r span {
	color: #ff8480;
}

/* Setting for the whole footer block */
footer {
	width: 100%;
	overflow: hidden;
	background: #fffd8c;
	padding: 40px 0;
}

/* Setting for the left part (text and input bar with button) */
.footer_l {
	width: 40%;
	float: left;
	color: #333131;
}

/* Setting for the slogan in footer_l*/
.footer_l h3 {
	font-family: "Montserrat-Bold";
	color: #333131;
	padding-bottom: 10px;
}

/* Setting for the input text bar and button */
.footer_l form {
	width: 100%;
	overflow: hidden;
	padding-top: 14px;
	display: flex;
}

/* Setting for the example in the text bar "Hours" */
.footer_l form .Hours {
	background: #f7f7ff;
	width: 20%;
	height: 37px;
	float: left;
	border-radius: 10px;
	border: none;
	padding-left: 10px;
	font-size: 16px;
	outline: none;
}

/* Setting for the example in the text bar "City" */
.footer_l form .city {
	background: #f7f7ff;
	width: 40%;
	height: 37px;
	float: left;
	border-radius: 10px;
	border: none;
	padding-left: 10px;
	font-size: 16px;
	outline: none;
	margin-left: 10px;
}

/* Setting for the example in the text bar's text color */
.footer_l form .Hours::-webkit-input-placeholder,
.footer_l form .city::-webkit-input-placeholder {
	color: #999;
}

/* Setting for the calculate button*/
.footer_l form button {
	background: #ff8480;
	width: 30%;
	height: 39px;
	float: left;
	border-radius: 10px;
	border: none;
	font-size: 22px;
	outline: none;
	margin-left: 10px;
	font-weight: bold;
	cursor: pointer;
	color: #fff;
}

/* Setting for the social media icons*/
.footer_r {
	float: right;
	padding-top: 50px;
}

/* Setting for the gaps between icons */
.footer_r a {
	display: inline-block;
	padding-left: 20px;
}

/* Setting for the icons' color change after mouse above the icon*/
.footer_r a:hover img {
	opacity: 0.8;
}

@media(max-width:1420px) {
	.footer_l form button {
		width: 157px;
	}
}

@media(max-width:960px) {
	.header {
		background: url(images/bg-image/scooter.svg) center top 360px no-repeat;
		padding-top: 20px;
	}

	.header_l {
		width: 100%;
		overflow: hidden;
	}


	.header_r {
		width: 82%;
		overflow: hidden;
		margin-top: 220px;
	}

	.footer_l {
		width: 100%;
		overflow: hidden;
	}

	.footer_l form button {
		width: 30%;
	}

	.footer_r {
		width: 100%;
		overflow: hidden;
		text-align: center;
		padding-top: 30px;
	}
}

@media(max-width:768px) {
	.header {
		background: url(images/bg-image/scooter.svg) center top 380px no-repeat;
	}

	.footer_l form {
		display: block;
	}
}

@media(max-width:640px) {
	.header {
		background: url(images/bg-image/scooter.svg) center 35% no-repeat;
	}

	.header_r {
		margin-top: 200px;
	}
}

@media(max-width:625px) {
	.footer_l form button {
		width: 157px;
	}
}

@media(max-width:610px) {
	.header {
		background: url(images/bg-image/scooter.svg) center top 420px no-repeat;
	}

	.header_r {
		width: 72%;
	}
}

@media(max-width:603px) {
	.footer_l form .city {
		width: 30%;
	}
}

@media(max-width:580px) {
	.header {
		background: url(images/bg-image/scooter.svg) center top 33% no-repeat;
		background-size: 60%;
	}
}

@media(max-width:520px) {
	.header {
		background: url(images/bg-image/scooter.svg) center top 43% no-repeat;
		background-size: 80%;
		padding-bottom: 60px;
	}

	.header_r {
		width: 76%;
		margin-top: 250px;
		padding: 20px;
	}

	.header_r .text {
		height: 35px;
	}

	.header_r button {
		font-size: 20px;
	}

	.header_r h2 {
		font-size: 24px;
	}

	.header_r p {
		font-size: 16px;
		line-height: 24px;
	}

	.header h1 {
		font-size: 60px;
		line-height: 70px;
	}

	.cb {
		font-size: 14px;
	}

	.header_r h4 {
		font-size: 14px;
	}

	.footer_l form button {
		width: 96%;
		height: 37px;
		margin-top: 20px;
		margin-left: 0px;
	}

	.footer_l form .city {
		width: 66%;
	}
}

@media(max-width:360px) {
	.header {
		background: url(images/bg-image/scooter.svg) center top 430px no-repeat;
	}

	.footer_l form button {
		margin-left: 10px;
		width: 100%;
		margin: 10px 0 0 0;
		float: none;
	}
}